@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 스크롤바 전체 */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* 스크롤바의 트랙 (배경) */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  /* 스크롤바의 손잡이 (thumb) */
  ::-webkit-scrollbar-thumb {
    @apply rounded-10 bg-assistive-alternative hover:bg-assistive-divider;
  }
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('./font/Pretendard-Bold.otf') format('opentype');
}

@layer components {
  .input-base {
    @apply w-full flex px-5 py-4 flex-col items-start rounded-5 text-label-lg mobile:text-label-lg-m bg-static-white placeholder:text-assistive-default hover:placeholder:text-static-default shadow-default focus:outline-none focus:ring-0 focus:border-transparent focus:shadow-focus;
  }

  .gradient-overlay {
    background: linear-gradient(180deg, rgba(71, 71, 82, 0.1) 76.39%, rgba(50, 55, 62, 0.5) 100%);
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animate-slideDown {
    animation: slideDown 0.5s ease-out;
  }
  .animate-slideUp {
    animation: slideUp 0.5s ease-out;
  }
}

/* propetyDetail */
.active-tab {
  @apply border-b-2 border-primary-default text-primary-default;
}
.white-gradient-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
