@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', sans-serif;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./font/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('./font/Pretendard-Bold.otf') format('opentype');
}

@layer components {
  .input-base {
    @apply w-full flex px-5 py-4 flex-col items-start rounded-5 text-label-lg mobile:text-label-lg-m bg-static-white placeholder:text-assistive-default hover:placeholder:text-static-default shadow-default focus:outline-none focus:ring-0 focus:border-transparent focus:shadow-focus disabled:bg-assistive-alternative disabled:text-assistive-strong disabled:hover:placeholder:text-assistive-default
    disabled:cursor-not-allowed;
  }

  .gradient-overlay {
    background: linear-gradient(180deg, rgba(71, 71, 82, 0.1) 76.39%, rgba(50, 55, 62, 0.5) 100%);
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animate-slideDown {
    animation: slideDown 0.5s ease-out;
  }
  .animate-slideUp {
    animation: slideUp 0.5s ease-out;
  }
}

/* propetyDetail */
.active-tab {
  @apply border-b-2 border-primary-default text-primary-default;
}
.white-gradient-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
@layer base {
  ::-webkit-scrollbar {
    @apply w-[6px] h-2;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-10 bg-assistive-alternative cursor-pointer hover:bg-assistive-divider;
  }
}
.swiper-pagination {
  @apply !absolute !bottom-0 flex justify-center gap-3;
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-assistive-default rounded-full !m-0;
}

.swiper-pagination-bullet-active {
  @apply bg-primary-normal;
}
